<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MultipleScenes.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>410C53761C5756AA0025FFD0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>410C538F1C5756AA0025FFD0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>410C539A1C5756AB0025FFD0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
